body {
    background-color: #cfdae4;
    color: #343a40;
}
h1 {
    margin-bottom: 30px;
}
.container {
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ebe1e1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.center-title {
    text-align: center;
}
